
@use "../abstract/mixin" as *;
@use "../abstract/variables" as *;
@use "sass:list";
@use "../abstract/listas";


/*INICIO*/
.nav-logo {
    width: 150px;
}

/* HERO */

.hero {
    width: 100%;
    .hero-container {
        width: 100%;
        .hero-lg {
            display: none;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .hero-sm {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .hero-article {
            padding: 3rem 2rem;
            p {
                margin-bottom: 1.5rem;
            }
            .hero-container-button {
                background-color: list.nth(listas.$paleta-colores, 3);
                text-align: center;
                border-radius: 2rem;
                padding: 1rem 0;
                a {
                    color: list.nth(listas.$paleta-colores, 1);
                    text-decoration: none;
                }
            }
        }
    }
}


/* SECTION-CARDS */

.cards {
    width: 100%;
    margin: 3rem 0;
    .cards-title {
        max-width: 400px;
        width: 80%;
        font-weight: list.nth( listas.$weight , 2 );
        margin: 1.5rem auto;
    }
    .cards-grid {
        margin: 0 auto;
        padding: 1rem;
        @include grid (grid, 1fr, 25%);
        gap: 1rem;
        .cards-item {
            margin: 0 auto;
            padding: 1rem 1rem 0.7rem 1rem;
            width: 95%;
            height: 200px;
            border-radius: 20px;
            box-shadow: $shadow-cards;
            background-color: $background-cards;
            @include grid (grid, 1.7fr 1fr, 70% 30%);
            grid-template-areas: 
            "texto icono"
            "link icono"
            ;
            h2 {
                font-size: 1.4rem;
                padding: 0 10px;
                grid-area: texto;
                align-content: center;
            }
            a {
                padding: 0 10PX;
                grid-area: link;
                align-content: center;
            }
            img {
                width: 100px;
                grid-area: icono;
                place-self: center;
            }
        }
    }
}

/* SECTION-SLIDER-1 */

.slider {
    margin: 5rem 0;
    width: 100%;
    padding: 0 2rem;
    .slider-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        gap: 2rem;
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        .slider-card {
            background-color: $background-cards;
            box-shadow: $shadow-cards;
            min-width: 310px;
            left: 0;
            position: sticky;
            scroll-snap-align: center;
            padding: 1.7rem;
            @include flex (flex, space-between, flex-start, column);
            gap: 1.3rem;
            border-radius: 20px;
            img {
                width: 90px;
            }
            .slider-textos {
                height: 10rem;
                h4 {
                    color: list.nth(listas.$paleta-colores, 4);
                    font-weight: list.nth( listas.$weight , 1 );
                }
            }
        }
    }
}


/* SECTION-CARD-PROMO */

.promo-card {
    width: 100%;
    margin: 5rem 0;
    .promo-card-container {
        width: 85%;
        height: 22rem;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: $shadow-cards;
        position: relative;
        .promo-card-img {     
            background-image: url(../../img/promociones-card/promociones-card.jpg);
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .promo-card-textos {
            position: absolute;
            top: 0;
            margin: 2rem;
            h2 {
                color: list.nth(listas.$paleta-colores , 1 );
                font-weight: list.nth(listas.$weight , 2 );
            }
            a {
                color: list.nth(listas.$paleta-colores , 1 );
            }    
        }   
    }
}

/* SECTION-SLIDER-2 */

.slider-2 {
    height: 30rem;
    @include flex (flex, center, center, column);
    background-color: $background-secundario;
    .slider-2-container {
        width: 80%;
        margin: 0 auto;
        @include flex (flex, center, center, column);
        gap: 2rem;
        border-radius: 20px;
        .slider-2-titulo {
            h2 {
                color: list.nth(listas.$paleta-colores, 1);
            }
        }
        .slider-2-flex {
            width: 280px;
            display: flex;
            gap: 30px;
            position: relative;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            .slider-2-card {
                padding: 30px;
                background-color: $background-cards;
                /* height: 250px; */
                min-width: 100%;
                left: 0;
                position: sticky;
                scroll-snap-align: center;
                border-radius: 20px;
                img {
                    width: 60px;
                }
                .slider-2-textos {
                    height: 70%;
                    align-content: center;
                    h4 {
                        margin-top: 0.5rem;
                        color: list.nth(listas.$paleta-colores, 4);
                        font-weight: list.nth( listas.$weight , 2 );
                    }
                }    
            }
        }
    }
}

//SECTION-SALDO

.saldo {
    width: 100%;
    @include flex(flex, center, center, column);
    gap: 30px;
    margin: 50px 0;
    padding: 20px;
    .saldo-textos {
        
        h2, p {
            margin-bottom: 20px;
        }
    }
    .saldo-img {
        
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

//FOOTER

footer {
    margin: 5rem 0;
    div {
        @include flex(flex, center, center, row);
        gap: 20px;
        img {
            width: 50px;
        }
        h4 span {
            color: list.nth(listas.$paleta-colores, 6);
            font-family: "Barlow Semi Condensed", sans-serif;
            font-weight: 300;
            font-style: italic;
        }
    }
}

