@use "../abstract/variables" as *;
@use "../abstract/mixin" as *;
@use "../base/reset";
@use "sass:list";
@use "../abstract/listas";


@media screen and (min-width: 1200px) {

    /*HOME*/
     
     /*HERO*/

    .hero {
        .hero-container {
            .hero-lg {
                display: block;
                position: relative;
                width: 100%;
                img {
                    width: 100%;
                }
                .hero-article-lg {
                    width: 40%;
                    position: absolute;
                    top: 18rem;
                    left: 8rem;
                    padding: 3rem 2rem;
                    p {
                        margin-bottom: 1.5rem;
                    }
                    a {
                        background-color: list.nth(listas.$paleta-colores, 3);
                        text-align: center;
                        border-radius: 2rem;
                        padding: 1rem 4rem;
                        color: list.nth(listas.$paleta-colores, 1);
                        text-decoration: none;
                    }
                    a:hover {
                        color: list.nth(listas.$paleta-colores, 3);
                        background-color: list.nth(listas.$paleta-colores, 1);
                        box-shadow: inset 0 0 7px #022A9A;
                    }
                }
            }
            .hero-sm {
                display: none;
            }
            .hero-article {
                display: none;
            }
        }
    }

    /* SECTION-CARDS */

    .cards {
        margin: 8rem auto;
        .cards-grid {     
            @include grid (grid, repeat(2, 1fr), auto);   
            width: 60%;
        }
    }

    
     /* SECTION-SLIDER-1 */

    .slider {
        margin: 8rem 0;
        width: 100%;
        padding: 0 2rem;
        .slider-container {
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            position: relative;
            overflow-x: unset;
            scroll-snap-type: none;
            .slider-card {
                background-color: $background-cards;
                box-shadow: $shadow-cards;
                min-width: 18%;
                max-width: 310px;
                position: static;
                scroll-snap-align: unset;
                padding: 1.7rem;
                @include flex (flex, space-between, flex-start, column);
                gap: 1.3rem;
                border-radius: 20px;
                img {
                    width: 90px;
                }
                .slider-textos {
                    height: 10rem;
                    h4 {
                        color: list.nth(listas.$paleta-colores, 4);
                        font-weight: list.nth( listas.$weight , 1 );
                    }
                }
            }
        }
    }

    /* SECTION-CARD-PROMO */

    .promo-card {
        margin: 8rem 0;
          .promo-card-container {
               width: 80%;
               .promo-card-img {
                    background-image: url(./img/promociones-card/card-promo-bg-md.jpg);
                    background-position: right center;
                    background-repeat: no-repeat;
               }
               .promo-card-textos {
                    top: 7rem;
                    left: 3rem;
                    margin: 1.5rem;
               }
          }
    }

    /* SECTION-SLIDER-2 */

    .slider-2 {
        width: 100%;
        margin: 8rem 0;
        .slider-2-container {
            width: 100%;
            .slider-2-flex {
                width: 79%;
                display: flex;
                justify-content: center;
                gap: 2rem;
                position: static;
                overflow-x: hidden;
                scroll-snap-type: none;
                .slider-2-card {
                    padding: 1.7rem;
                    min-width: 18%;
                    max-width: 310px;
                    position: static;
                    scroll-snap-align: unset;   
                }
            }
        }
    }

    /* SECTION-SALDO */

    .saldo {
        margin: 8rem auto;
        width: 60%;
        padding: 0;
        @include flex(flex, center, center, row);
        .saldo-textos {
           width: 50%;
        }
        .saldo-img {
           width: 50%;
        }
    }

    /* AYUDA Y SEGURIDAD */

    /* HERO */

    .hero--ays {
        padding: 0 0;
        .hero-lg-ays {
            display: block;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
            .hero-textos-lg-ays {
                position: absolute;
                top: 30rem;
                left: 10rem;
            }
        }
        .hero-container--ays {
            display: none;
        }
    }
    
    /* SECTION-PROGRAMA */

    .programa-educacion {
        margin: 0 auto;
        width: 90%;
        .programa-educacion-container { 
            width: 60%;
            @include flex(flex, center, center, row);
            gap: 2rem;
            img {
                width: 50%;
                border-radius: 1rem;
            }        
        }
    }

    /* NOSOTROS */

    /* HERO */

    .nosotros {
        margin: 0 0 5rem 0;
        .nosotros-compañia {
            gap: 5rem;
            .nosotros-textos {
                width: 30%;
                padding-left: 1rem;
            }
            img {
                max-width: 30%;
            }
        }
        .nosotros-creador {
            gap: 5rem;
            .nosotros-textos-creador {
                width: 30%;
            }
            img {
                max-width: 30%;
            }
        }
    }

    /* SECTION-COMIENZO */

    .comienzo {
          .comienzo-container {
                max-width: 60%;
                .video {
                    width: 1200px;
                    height: 700px;
            }
        }
    }

    /* SECTION-PILARES */

    .pilares {
        .pilares-container {
            width: 60%;
            .pilares-grid {
                @include grid(grid, repeat(2, 1fr,), auto);
                .pilares-cards:last-child {
                    grid-column: 1/-1;
                    justify-self: center;
                    width: 100%;
                }
            }
        }
    }

    .equipo {
        .equipo-container {
            width: 60%;
        }
    }

    /* FUNCIONALIDAD */

    /* HERO */

    .hero--fun {
        padding: 0;
        .hero-lg-fun {
            width: 100%;
            display: block;
            img {
                width: 100%;
            }
            .hero-textos-lg-fun {
                width: 40%;
                position: absolute;
                top: 30rem;
                left: 8rem;
                h1 {
                    color: list.nth(listas.$paleta-colores, 2);
                }
                p {
                    margin-bottom: 2rem;
                    color: list.nth(listas.$paleta-colores, 2);
                }
                a {
                    text-decoration: none;
                    border-radius: 2rem;
                    padding: 1rem 7rem;
                    background-color: $color-boton;
                    color: $background-secundario;   
                }
            }
        }
        .hero-container--fun {
            display: none;
        }
    }   

    /* SECTION-SLIDER */

    .slider--fun {
        margin: 0 0 5rem 0;
        .slider-container--fun {
            width: 100%;
            .slider-flex--fun {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 3rem;
                position: static;
                overflow-x: hidden;
                scroll-snap-type: none;
                .slider-card--fun {
                    padding: 30px;
                    background-color: $background-cards;
                    height: 300px;
                    min-width: 20%;
                    max-width: 310px;
                    position: static;
                    scroll-snap-align: unset;
                    img {
                        width: 90px;
                    }  
                }
            }
        }
    }

    /* SECTION-CARDS */

    .cards--fun {
        margin: 5rem 0;
        .cards-grid--fun{
            width: 60%;
            @include grid (grid, 1fr 1fr, auto);
            gap: 1rem;
        }
    }

    /* SECTION-CUOTAS-SALDO */

    .cuotas-saldo {
        width: 100%;
        padding: 3rem 2rem;
        .cuotas-saldo-container {
            width: 60%;
            @include flex(flex, center, center, row);
            gap: 2rem;
            img {
                width: 50%;
            }
        }
    }

    /* SECTION-PASAR-A-CUOTAS */

    .cuotas {
        margin: 5rem 0;
        .cuotas-container {
            width: 80%;
            .cuotas-textos {
                top: 7rem;
                left: 2rem;
                h2 {

                    color: list.nth(listas.$paleta-colores , 1 );
                }   
            } 
        }
    }
}