@use "../abstract/variables";
@use "../abstract/mixin" as *;
@use "../abstract/listas";
@use "sass:list";
@use "../base/reset";



@media (min-width: 700px) {
     
     /*HOME*/
     
     /*HERO*/

     .hero {
          .hero-container {
               .hero-article {
                    margin: 0 auto;
                    width: 60%;
               }
          }
     }

     /*SECTION-CARDS*/

     .cards {
          margin: 5rem 0;
          .cards-title {
               text-align: center
          }
          .cards-grid {     
               @include grid(grid, repeat(2, 1fr), auto);
               width: 80%;
          }
     }

     /*SECTION-SLIDER-1*/

     .slider {
          margin: 5rem 0;
          .slider-container {
               width: 80%;
               padding: 1rem 0.3rem;
               .slider-card {
                    position: static;
               }
          }
     }     

     /*SECTION-CARD-PROMO*/

    .promo-card {
          margin: 5rem 0;
          .promo-card-container {
               width: 80%;
               overflow: hidden;
               .promo-card-img {
                    background-image: url(../../img/promociones-card/card-promo-bg-md.jpg);
                    background-position: right center;
                    background-repeat: no-repeat;
                    transition: transform 0.5s ease;
               }
               .promo-card-textos {
                    margin: 1.5rem;
               }
               .promo-card-img:hover {
                    transform: scale(1.2);
               }
          }
    }

    /*SECTION-SLIDER-2*/

    .slider-2 {
          margin: 5rem 0;
          .slider-2-container {
               height: 90%;
               @include flex (flex, space-evenly, center, column);
               .slider-2-flex {
                    width: 90%;
                    .slider-2-card {
                         min-width: 48%;
                         min-height: 17rem;
                         position: static;
                    }
               }
          }
    }

     /*SECTION-SALDO*/

     .saldo {
          margin: 5rem auto;
          width: 80%;
          padding: 2rem;
          @include flex(flex, center, center, row);
          .saldo-textos {
               width: 50%;
          }
          .saldo-img {
               width: 50%;
          }
     }

     /*NOSOTROS*/

     /*SECTION-NOSOTROS*/

     .nosotros {
          margin: 5rem 0;
          .nosotros-compañia {
               @include flex(flex, center, center, row);
               padding: 5rem 5rem;
               img {
                    max-width: 50%
               }
          }
          .nosotros-creador {
               @include flex(flex, center, center, row-reverse);
               padding: 5rem 5rem;
               img {
                    max-width: 50%;
               }
          }
     }          

     /* SECTION-COMIENZO */

     .comienzo {
          .comienzo-container {
               max-width: 90%;
          }
     }

     /* SECTION-PILARES */

     .pilares {
          .pilares-container {
               width: 90%;
               .pilares-grid {
                    @include grid(grid, 1fr 1fr, auto);
                    .pilares-cards:last-child {
                         grid-column: 1/-1;
                         justify-self: center;
                         width: 100%;
                    }
               }
          }
     }

     /* SECTION-EQUIPO */

     .equipo {
          .equipo-container {
               margin: 0 auto;
               width: 70%;
          }
     }

     /* AYUDA-Y-SEGURIDAD */

     /* SECTION-HERO */

     .hero--ays {
          .hero-container--ays {
               margin: 0 auto;
               width: 90%;
          }
     }


     /* SECTION-PROGRAMA-EDUCACION */

     .programa-educacion {
          margin: 0 auto;
          width: 90%;
          .programa-educacion-container { 
               margin: 0 auto;
               width: 70%;
               img {
                    width: 100%;
                    border-radius: 1rem;
               }
               
          }
     }



     /* FUNCIONALIDADES */

     /* SLIDER */

     .slider--fun {
          margin: 5rem 0;
          .slider-container--fun {
               height: 90%;
               @include flex (flex, space-evenly, center, column);
               .slider-flex--fun {
                    width: 100%;
                    .slider-card--fun {
                         min-width: 47%;
                         min-height: 17rem;
                         position: static;
                    }
               }
          }
     }

     /* SECTION-CARDS */

     .cards--fun {
          .cards-title--fun {
               text-align: center;
               width: 100%;
          }
          .cards-grid--fun {
               width: 80%;
          }
     }

     /* SECTION-CUOTAS-SALDO */

     .cuotas-saldo {
          .cuotas-saldo-container { 
                    width: 80%;
                    margin: 0 auto;       
          } 
     }

     /* SECTION-PASAR-A-CUOTAS */

     .cuotas {
          .cuotas-container {
               width: 90%;
               overflow: hidden;
                    .cuotas-img {     
                         background-image: url(../../img/funcionalidades/pasar-a-cuotas/bg-pasar-a-cuotas-mobile.jpg);
                         background-position: center right;
                         transition: transform 0.5s ease;
                    }
                    .cuotas-textos {
                         h2 {
                              color: list.nth(listas.$paleta-colores , 6 );
                         }   
                    }
                    .cuotas-img:hover {
                         transform: scale(1.1);
                    }
          }
     }
}