//VARIABLES

// $backgrounds 

$background-principal: whitesmoke;
$background-secundario: rgb(2, 42, 155);
$background-cards: white;


// $colours 

$color-titulo: rgb(2, 42, 155);
$color-subtitulo: #504e4e;
$color-parrafos: #606882;
$color-boton: white;

// box-shadow 

$shadow-cards: 1px 1px 10px 4px rgb(236, 234, 234);