//VARIABLES

// $backgrounds 

$background-principal: whitesmoke;
$background-secundario: rgb(2, 42, 155);
$background-cards: white;


// $colours 

$color-titulo: rgb(2, 42, 155);
$color-subtitulo: #504e4e;
$color-parrafos: #606882;
$color-boton: white;

// box-shadow 

$shadow-cards: 3px 3px 6px rgb(204, 202, 202);